* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-image: url(images/patt.png);
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.logo {
	padding-top: 10px;
}

.col-3 {
	width: 25%;
}

.col-6 {
	width: 50%;
}

[class*="col-"] {
float:left

}

.row:after, .menu:after {
	content: "";
	clear: both;
	display: block;
}

.header {
	background-color: rgba(255,255,255,0.75);
	padding: 25px 0;
}

.menu li {
	width: 25%;
	float: left;
	border-left: 1px solid #2c71b8;
}

.menu li:last-child {
	border-right: 1px solid #2c71b8;
}

.menu a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	color:#2c71b8;
	font-size: 21px;
}

.menu a:hover{
	background-color:#2c71b8;
	color: white;
}

.menu li .arrow { 
	background: url(images/12.jpg) no-repeat right 10px center;
}

.menu li:hover .arrow { 
	background: url(images/13.png) no-repeat right 8px center;
	background-color: #2c71b8;
	color:white;
}

.submenu li {
	width: 301px;
	float: none;
	background-color: #2c71b8;
	color:white;
	border: none;
	margin-left: -1px;
}

.submenu a {
	color: white;
	text-align: justify;
	font-size: 21px;
	padding-left:30px;
    }

.submenu a:hover {
	background-color: white;
	color: #2c71b8;
}

 .menu {
  position: relative;
  display: block;
 
}

.menu ul { 
  position: absolute;
  display: none;
  
}

.menu li:hover ul { 
  display: block;
}

.search {
	width: 80%;
	position: relative;
}

.input{
	width:200px;
	height: 40px;
	border: 1px solid #2c71b8;
	background: transparent;
	margin: 5px 0px 0px 33px;
	font-size: 21px;
	padding-left: 20px;
	color: #2c71b8;
	-moz-box-sizing: border-box;
  box-sizing: border-box;
	 
}

input::-webkit-input-placeholder {
color: #2c71b8 ;
}
 
input:-moz-placeholder { 
color: #2c71b8 ;  
}
 
input::-moz-placeholder { 
color: #2c71b8 ;  
}
 
input:-ms-input-placeholder {  
color: #2c71b8 ;  
}

.submit {
  border: none;
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 5px;
  right: 12px;
  background: url(images/lupa.png);
  background-color: #2c71b8;
  background-repeat: no-repeat;
  background-position: center;
}

.submit:hover {
	background-color: grey;
}
.cartmd{
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.cart {
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 7px;
  right: -10px;
  background: url(images/korz.png);
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;

}
.cartin {
  border:none;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 40px;
  right: 20px;
  color:white;
  background-color: #2c71b8;
  text-align: center;
  line-height: 20px;
  font-size:12px;
}
.slider{
width: 100%;
height: 400px;
background-color: rgba(0,0,0,0.45);
text-align: center;
font-size: 100px;
color:white;
line-height: 350px;
border-bottom:1px solid white;
border-top:1px solid white;
}
.main{
	  width: 1200px;
	  margin: 0 auto;
}
.leftmenu{
	border-right: 1px solid white;
	background-color: rgba(255, 255, 255, 0.2);
	padding-left: 30px;
	height: 920px;
	
}
.type{
	font-size: 21px;
	color: white;
	padding-top: 33px;
	font-weight: bold;
     }
 .type2{
	font-size: 21px;
	color: white;
	padding-top: 50px;
	font-weight: bold;
     }
.olmenu1{

}
.checkmenu{
	padding: 7px 0px 0px 25px;
	font-size: 21px;
}
.olmenu1 li{
	padding: 20px 0px 0px 0px;
	color:white;
	font-size: 21px;
}
.show{
font-size: 21px;
	color: white;
	padding-top: 33px;

}
.button{
	width: 208px;
	height: 48px;
	background-color: #2c71b8;
	border: 1px solid white;
	font-weight: bold;
	padding-top: 5px;
	color:white;
	font-size: 21px;
	margin-top: 30px;
}

.Breadcrumbs{
	margin-top: 10px;
	}
.Breadcrumbs a{
	list-style-type: none;
	float: left;
	text-decoration: none;
	color: rgba(225, 225, 225, 0.5);
	font-size:14px;
	display: block;
	line-height: 50px;
	text-align: center;
	padding-right: 10px;
}
.Breadcrumbs a:hover{
	text-decoration: underline;

}
h1{
	color: white;
	font-size:48px;
	font-weight: bold;
	margin-bottom: 0px;
	padding-right: 150px;


}

.linebackground:before {
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    content: "";
    width: 120%;
    height: 50%;
    right: -3px;
    bottom: 80px;
    transform: rotate(-33deg);
}	

select:hover{
	background-color: white;
	color: #2c71b8;
}


.devicewindow{
	height: 650px;
	width: 270px;
	margin-top: 30px;	
	margin-left: 30px;	
}
.imgwindow{
    border: 1px solid white;
	border-bottom: 1px solid white;
	background-color: rgba(255, 255, 255, 0.75);
	height: 178px;
	position: relative;
	text-align: center;
	padding-top: 45px;

}
.zoom{
	background-image: url("images/zoom blue.png");
	background-repeat:no-repeat;
	background-position: center;
	width: 28px;
	height: 28px;
	border: 1px solid #2c71b8;
	position: absolute;
  	left: 229px;
  	top: 9px;
  	
}
.zoom:hover{
	background-image: url("images/zoom white.png");
	background-repeat:no-repeat;
	background-position: center;
	background-color: #2c71b8;
}
.heart{
	background-image: url("images/heart.png");
	background-repeat:no-repeat;
	background-position: center;
	width: 28px;
	height: 28px;
	border: 1px solid #2c71b8;
	position: absolute;
  	left: 229px;
  	top: 49px; 
  	
}
.heart:hover{
	background-image: url("images/heart white.png");
	background-repeat:no-repeat;
	background-position: center;
	background-color: #2c71b8;
}


.info{		
	background-color: rgba(44, 113, 184, 0.75);
	height: 472px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	color: white;
	font-size: 19px;
	padding-left:  15px;
	font-weight: 300;
}
.info h2{
	font-size: 30px;
	margin: 0px;
	padding: 10px 0px;
	padding-top: 15px;
	padding-bottom: 20px;
}
p{
	font-size: 21px;
	padding-bottom: 20px;
}
.price{
	
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}
.price2{
	font-size:25px;
	font-weight: bold;
	vertical-align: super;
    padding-left: 10px;
}
.info button{
	font-size: 21px;
	width: 208px;
	height: 48px;
	background-color: #2c71b8;
	border: 1px solid white;
    margin-top: 15px;
	margin-left: 15px;
	color:white;
}
button:hover{
	background-color: rgba(255, 255, 255, 0.2);
}
.col-9{
	width: 75%;
}
.col-4 {
	width: 33.3%;
}
.col-8{
	width: 66.6%;
	margin-left: 30px;
	
}
.col-7{
	width: 25%;
}

input[type="checkbox"]{
	display:none;
}
label{
	position: relative;
}
label:before{
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	
	border: 2px solid white;
	position: absolute;
	top:10px;
}
input[type="checkbox"]:checked + label:before{
border: 2px solid white;
background-color: white;
}



.sort {
	background: url(images/13.png) no-repeat right 10px center;
	border: 1px solid white;
	background-color: #2c71b8;
	position: relative;	
	width: 270px;
	margin-top: 70px;
}
.sort a{

	display: block;
	text-decoration: none;
	line-height: 38px;
	color: white;
	font-size: 21px;
	font-weight: 300;
	padding-left: 20px;
	height: 38px;
}
.sort > li > a:hover{

	background-color: white;
	color: #2c71b8;
}

.sort2{
	position: absolute;
 	display: none;
 	padding: 0px;
 	background-color: #2c71b8;
	width: 270px;
 	z-index: 2;
	border: 1px solid white;
 	left: -1px;
}
.sort2 li{
	
	list-style-type: none;

}
.sort2  a{
	color: white;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}
.sort  li:hover > ul {
 	display: block;
}
.sort2 > li > a:hover{

	background-color: white;
	color: #2c71b8;

}
.cart11{
	background-image: url("images/icon (2).png" ) ; 
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

.load{
    font-size: 36px;
	text-align: center;
	color: white;
	padding-top: 40px;
	margin-left: 330px;


}
.footer{
	background-color: rgba(255, 255, 255, 0.75);
	height: 100px;
	color: #2c71b8;
	line-height: 100px;
	font-size: 21px;
	font-weight: 300;
	text-align: center;
	margin-top: 90px;
	}