* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-image: url(images/patt.png);
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.logo {
	padding-top: 10px;
}

.col-3 {
	width: 25%;
}

.col-6 {
	width: 50%;
}

[class*="col-"] {
float:left

}

.row:after, .menu:after {
	content: "";
	clear: both;
	display: block;
}

.header {
	background-color: rgba(255,255,255,0.75);
	padding: 25px 0;
}

.menu li {
	width: 25%;
	float: left;
	border-left: 1px solid #2c71b8;
}

.menu li:last-child {
	border-right: 1px solid #2c71b8;
}

.menu a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	color:#2c71b8;
	font-size: 21px;
}

.menu a:hover{
	background-color:#2c71b8;
	color: white;
}

.menu li .arrow { 
	background: url(images/12.jpg) no-repeat right 10px center;
}

.menu li:hover .arrow { 
	background: url(images/13.png) no-repeat right 8px center;
	background-color: #2c71b8;
	color:white;
}

.submenu li {
	width: 294px;
	float: none;
	background-color: #2c71b8;
	color:white;
	border: none;
	margin-left: -1px;
}

.submenu a {
	color: white;
	text-align: justify;
	font-size: 21px;
	padding-left:30px;
    }

.submenu a:hover {
	background-color: white;
	color: #2c71b8;
}

 .menu {
  position: relative;
  display: block;
 
}

.menu ul { 
  position: absolute;
  display: none;
  
}

.menu li:hover ul { 
  display: block;
}

.search {
	width: 80%;
	position: relative;
}

.input{
	width:200px;
	height: 40px;
	border: 1px solid #2c71b8;
	background: transparent;
	margin: 5px 0px 0px 33px;
	font-size: 21px;
	padding-left: 20px;
	color: #2c71b8;
	-moz-box-sizing: border-box;
  box-sizing: border-box;
	 
}

input::-webkit-input-placeholder {
color: #2c71b8 ;
}
 
input:-moz-placeholder { 
color: #2c71b8 ;  
}
 
input::-moz-placeholder { 
color: #2c71b8 ;  
}
 
input:-ms-input-placeholder {  
color: #2c71b8 ;  
}

.submit {
  border: none;
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: url(images/lupa.png);
  background-color: #2c71b8;
  background-repeat: no-repeat;
  background-position: center;
}

.submit:hover {
	background-color: grey;
}

.submit1 {
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 5px;
  right: -245px;
  background: url(images/korz.png);
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;

}
.submit2 {
  border:none;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 37px;
  right: -215px;
  color:white;
  background-color: #2c71b8;
  text-align: center;
  font-size:12px;
}